/* Barra de navegação */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.navbar-toggler {
    border: none;
}

.navbar .dropdown-menu {
    min-width: 200px;
}

@media (max-width: 767px) {
    .navbar-nav .nav-link {
        padding-left: 0.5rem;
    }
}








body {
    background-color: #f8f9fa;
}

/* parte do card de vagas */
.vaga-card {
    max-width: 700px;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.vaga-card h5 {
    font-weight: bold;
}

.badge-custom {
    font-size: 0.9rem;
    background-color: #0d6efd;
}









/* parte do curriculo */
.form-card {
    max-width: 900px;
    margin: 40px auto 60px;
    padding: 30px;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 0.15);
}

label {
    font-weight: 600;
}

hr {
    margin: 2rem 0;
}

.section-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.3rem;
}

.item-container {
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #f8f9fa;
}

.btn-outline-secondary {
    min-width: 130px;
}

